{:paths ["src" "notebooks" "dev"]
 :deps { #_#_ org.clojure/clojure {:mvn/version "1.11.1"}
        io.github.nextjournal/clerk {:mvn/version "0.16.1016"
                                     #_#_#_#_:git/url "https://github.com/nextjournal/clerk.git" :sha "47d0e273643c64d1bfa9908f43f192daf50611ca"


                                     } }

 :aliases
 {:dev
  {;; for disabling the official compiler (to use flow-storm):
   :classpath-overrides {org.clojure/clojure nil}
   :extra-paths ["test"]
   :extra-deps
   {com.github.flow-storm/clojure {:mvn/version "1.12.0-beta1"}
    com.github.flow-storm/flow-storm-dbg {:mvn/version "3.16.0"}

    org.slf4j/slf4j-nop {:mvn/version "1.7.36"}
    djblue/portal       {:mvn/version "0.48.0"} }

   :jvm-opts ["-Dclojure.storm.instrumentEnable=true"
              #_"-Dclojure.storm.instrumentOnlyPrefixes=boardgames,nextjournal.clerk"
              "-Dclojure.storm.instrumentOnlyPrefixes=boardgames,scratchpad,intro,walkthrough"]}

  :test
  {:extra-paths ["test"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
   :main-opts ["-m" "kaocha.runner"]}

  ;; This alias is used by https://clerk.garden/.
  :nextjournal/clerk
  {:exec-fn nextjournal.clerk/build!
   :exec-args {:paths    ["notebooks/*" "src/**" "test/**"]
               :compile-css true
               :ssr true
               :index "notebooks/welcome.clj"
               :out-path "public"}}

  :watch
  {:extra-deps
   {org.babashka/cli    {:mvn/version "0.5.40"}
    org.slf4j/slf4j-nop {:mvn/version "1.7.36"}}
   :exec-fn   user/start!
   :exec-args {:watch-paths ["notebooks" "src" #_"test"]}}}}
