{:paths ["src" "dev"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        io.github.nextjournal/clerk
        {:git/tag "v0.15.957" :git/sha "9c38ff3ef240c9bd21e596792adb2ebdbb5a738d"}}
 :aliases
 {:dev
  {:extra-deps
   {org.slf4j/slf4j-nop {:mvn/version "1.7.36"}
    djblue/portal       {:mvn/version "0.48.0"} }}

  ;; This alias is used by https://clerk.garden/.
  :nextjournal/clerk
  {:exec-fn nextjournal.clerk/build!
   :exec-args {:paths    ["src/**"]
               :out-path "public"}}

  :watch
  {:extra-deps
   {org.babashka/cli    {:mvn/version "0.5.40"}
    org.slf4j/slf4j-nop {:mvn/version "1.7.36"}}
   :exec-fn   user/start!
   :exec-args {:watch-paths ["src"]}}}}
